/* root properties */
:root {
  --main-black: #354463;
  --main-white: #ffffff;
  --main-green: #c1f7d5;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---- Base styles---- */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
/* -----Menu design---- */

.header {
  background-color: var(--main-white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  color: var(--main-black);
  padding: 2rem 0;
  margin-left: 8vw;
  margin-right: 8vw;
}
.logo {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
}
.menu {
  width: 40vw;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
}
.donate-btn {
  font: Bold 1rem Helvetica;
  color: var(--main-black);
  background: var(--main-green);
  border-radius: 25px;
  padding: 1.2rem 2rem;
  text-decoration: none;
}
/* ---Add media queary for menu --- */
@media screen and (max-width: 1020px) {
  .header {
    flex-flow: column wrap;
    align-items: flex-start;
    font: lighter 2vw Helvetica;
    position: relative;
  }
  .logo {
    font: Bold 2.5vw/2.8vw Helvetica;
    text-align: left;
  }
  .menu {
    display: flex;
    margin-top: 5%;
    flex-flow: row wrap;
    align-self: flex-start;
  }
  .header-items {
    text-align: left;
  }
  .donate-btn {
    font: Bold 2.5vw/2.8vw Helvetica;
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    background: var(--main-green) 0% 0% no-repeat padding-box;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4vw;
    position: absolute;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .header {
    font: lighter 4vw/5vw Helvetica;
    flex-flow: row wrap;
    align-items: center;
    max-height: 30%;
    margin: 4vw 8vw;
    /* position: static;  */
  }
  .menu {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 40%;
    margin-left: 3%;
  }
  .logo {
    font: Bold 4.5vw/5vw Helvetica;
    text-align: left;
    margin: 0;
  }
  .header-items {
    margin: 1%;
    text-align: left;
  }
  .donate-btn {
    position: static;
    font: Bold 5vw Helvetica;
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
    background: var(--main-green) 0% 0% no-repeat padding-box;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
/* ---stop-menu design--- */

/* ----Start Main Desgin--- */
main {
  background-image: url("images/annie-spratt-135307-unsplash.png");
  background-size: cover;
  background-position: right;
  max-width: 100%;
  background-repeat: no-repeat;
  height: 40em;
  background-color: var(--main-black);
  opacity: 1;
}
.content {
  display: grid;
  height: 100%;
  grid-template-rows: 18.04% 61.9% 18.04%;
  grid-template-columns: 11.11% 37.78% 9.37% 20.55% 21.18%;
  grid-template-areas: ". . . . ." ". issue . stop ." ". . . . .";
}
.issue {
  background-color: var(--main-white);
  grid-area: issue;
  width: 100%;
}
.issue div {
  background-color: var(--main-black);
  width: 160px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 64px;
}
.issue div h2 {
  padding: 12px 50px;
  color: var(--main-white);
  font-size: 11px;
  font-weight: lighter;
}
.issue p {
  font-size: 2.3em;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 2.5rem;
}
.issue h6 {
  padding-left: 10%;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: underline;
}
.climate {
  grid-area: stop;
}

/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .content {
    grid-template-rows: 10.02% 20.3% 13.66% 45% 9.3%;
    grid-template-columns: 8.33% 83.33% 8.33%;
    grid-template-areas: ". . . " ". stop ." ". . ." ". issue ." ". . .";
  }
  .climate h4 {
    font-size: 2.5em;
  }
  .issue p {
    font-size: 4vw;
    margin: 0 10%;
  }
  .issue h6 {
    padding-left: 10%;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .content {
    grid-template-rows: 5% 25% 15% 50% 5%;
    grid-template-columns: 7.5% 85% 7.5%;
  }
  .climate {
    background-size: 50% 100%;
  }
  .issue p {
    font-size: 6vw;
    margin: 15px;
    height: 45%;
    line-height: 1.5;
  }
  .issue h6 {
    padding: 0;
    text-align: center;
  }
}

/* ----End Main Desgin--- */

/* ---- Start Action Section Design---- */

.action-Section {
  background-color: var(--main-green);
  width: 100%;
  height: 240px;
}
.action-Section h2 {
  background-color: var(--main-black);
  color: var(--main-white);
  position: relative;
  width: 120px;
  top: -20px;
  font-size: 11px;
  font-weight: lighter;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
}
.todo {
  margin: 40px 11.11% 78px 11.11%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 64px;
  grid-template-areas: "learn volunteer share donate";
}
.todo h3 {
  font-size: 22px;
  padding-bottom: 7px;
}
.todo p {
  font-size: 14px;
  height: 52px;
  line-height: 1.5;
  font-weight: lighter;
}
.todo .learn {
  grid-area: learn;
}
.todo .volunteer {
  grid-area: volunteer;
}
.todo .share {
  grid-area: share;
}
.todo .donate {
  grid-area: donate;
}

/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .action-Section {
    height: 336px;
  }
  .todo {
    margin: 0;
    height: 100%;
    grid-template-rows: 0.2fr 1fr 1fr 0.6fr;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr 0.5fr;
    grid-column-gap: 0;
    grid-template-areas: ". . . . ." ". learn . volunteer ." ". share . donate ." ". . . . .";
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .todo {
    grid-template-columns: 0.5fr 2.5fr 0.25fr 2.5fr 0.5fr;
  }
}

/* ----End Action Section Design---- */

/* ---our-work Design--- */

.our-work {
  background-color: var(--main-black);
  width: 100%;
  height: 63.43em;
  display: grid;
  grid-template-rows: 8.66% 3.9% 3.9% 13.8% 7.4% 52% 15.76%;
  grid-template-columns: 11.11% 77.9% 11.11%;
  grid-template-areas: ". . ." ". a ." ". . ." ". b ." ". . ." ". c ." ". . .";
}
.our-work h2 {
  background-color: var(--main-white);
  font-size: 14px;
  width: 14.3%;
  height: 40px;
  text-align: center;
  color: var(--main-black);
  line-height: 2.9;
  grid-area: a;
}
.our-work h1 {
  color: var(--main-white);
  font-size: 2.5rem;
  grid-area: b;
}
.our-work .box {
  display: grid;
  height: 33em;
  grid-area: c;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  grid-template-areas: "tree education advocacy";
}
.box h2 {
  padding-left: 10%;
  width: 70%;
  text-align: left;
  line-height: 1.46;
  font-size: 1.5rem;
  font-weight: 700;
}
.box p {
  padding: 5% 10%;
  font-size: 14px;
  line-height: 1.5;
  font-weight: lighter;
  color: var(--main-black);
}
.tree {
  grid-area: tree;
  width: 100%;
  background-color: var(--main-white);
}
.education {
  grid-area: education;
  background-color: var(--main-white);
}
.advocacy {
  grid-area: advocacy;
  background-color: var(--main-white);
}
.box img {
  width: 100%;
  height: 14em;
  position: relative;
  display: inline-block;
  top: -2em;
  right: -2em;
}
/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .our-work {
    grid-template-rows: 3.5em 2.5em 2em 8.75em 3.5em 60.5em 9.4em;
    grid-template-columns: 8.14% 83.4% 8.14%;
    height: 87em;
  }
  .our-work h1 {
    font-size: 35.8px;
    line-height: 1.25;
    letter-spacing: 0;
  }
  .our-work .box {
    display: grid;
    width: 100%;
    grid-area: c;
    grid-template-rows: 280px 280px 280px;
    grid-template-columns: 1fr;
    grid-row-gap: 64px;
    grid-template-areas: "tree" "education" "advocacy";
  }

  .tree,
  .education,
  .advocacy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
  }

  .box img {
    width: 100%;
    height: 63%;
    grid-area: a;
    background-size: cover;
    background-position: right;
  }
  .box h2 {
    font-size: 22px;
    width: 60%;
    padding-top: 2%;
    text-align: left;
  }
  .box p {
    font-size: 16px;
  }
  .box-content {
    grid-area: b;
    position: relative;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .our-work {
    height: 150rem;
  }
  .our-work h2 {
    width: 52.2%;
    margin: auto auto;
  }
  .our-work h1 {
    font-size: 2rem;
    text-align: center;
  }
  .our-work .box {
    margin-top: 6rem;
    grid-template-rows: 415px 415px 415px;
    grid-row-gap: 14rem;
  }
  .tree,
  .education,
  .advocacy {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b";
    height: 35rem;
    width: 26rem;
  }
  .box-content .donet-btn {
    margin-left: 6rem;
    margin-top: 0rem;
  }
  .box img {
    width: 83%;
    height: 14em;
    position: relative;
    display: inline-block;
    top: -2em;
    right: -2em;
  }
  .box h2 {
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    padding: 0rem;
  }
  .box p {
    font-size: 3.5vw;
    text-align: center;
    padding: 1rem;
  }
}

/* ----End our-work Design---- */

/* ----Start Hunger Issue Design---- */

.hunger-issue {
  display: flex;
  width: 100%;
  background-image: url("images/did-you-know-background.png");
  background-size: cover;
  background-position: left;
  height: 75em;
  background-repeat: no-repeat;
  padding: 2rem 5rem 5rem 2rem;
}
.hunger-box1 {
  width: 50%;
  margin-left: 6rem;
  margin-top: 12rem;
}
.donet-btn {
  border: none;
  padding: 5% 9%;
  background-color: var(--main-green);
  color: var(--main-black);
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 2em;
  top: 1.5em;
  text-decoration: none;
}
.hunger-box2 {
  width: 50%;
  margin-top: 5rem;
}
.hunger-items {
  height: 14rem;
  width: 32rem;
  background: var(--main-white);
  display: flex;
  flex-direction: row;
  margin: 2rem -5px;
}
.hunger-box2 section {
  background-color: var(--main-black);
  width: 12em;
  height: 2.5em;
  position: relative;
  top: -15px;
  left: 11%;
  margin-bottom: -4.2rem;
}
.hunger-box2 section h2 {
  padding: 0;
  color: var(--main-white);
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  padding-top: 0.5rem;
}
.hunger-items h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--main-black);
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}
.hunger-items p {
  font-size: 1rem;
  margin-left: 3rem;
  padding: 0rem;
}
.fb {
  width: 70%;
}
.tt {
  width: 30%;
}
.tt div {
  background-color: var(--main-green);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 40px;
  text-align: center;
}
.tt img {
  justify-content: center;
  padding: 8px;
}

/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .hunger-box1 {
    width: 30%;
  }
  .hunger-box1 img {
    width: 30vw;
    height: 30vw;
    padding-right: 3rem;
  }
  .hunger-box2 {
    width: 70%;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .hunger-box1 {
    width: auto;
    margin-left: 2rem;
  }
  .hunger-issue {
    padding: 0rem;
    margin: 0rem;
    height: 97em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hunger-items {
    height: 12rem;
    width: 22rem;
  }
  .hunger-box1 img {
    width: 24rem;
    height: 18rem;
    padding-top: 0rem;
  }
}
/* ----End Hunger Issue Design---- */

/* ---Start Stories Design--- */

.stories {
  width: 100%;
  height: 51.5em;
  position: relative;
}
.stories-section {
  position: relative;
  width: 77.78%;
  height: 71.36%;
  top: 13.1%;
  left: 11.11%;
}
.stories-img {
  background-image: url("images/lady-baby.png");
  background-size: cover;
  background-position: left;
  width: 57.14%;
  height: 96.59%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.stories-content {
  width: 85%;
  height: 58.505%;
  background-color: var(--main-black);
  position: relative;
  top: 22.44%;
  left: -75%;
}
.stories-content p {
  padding: 9.56% 11.76% 0 11.76%;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-white);
}
.stories-content h6 {
  font-size: 0.875em;
  padding: 4% 11.76% 0 11.76%;
  color: var(--main-white);
  font-weight: lighter;
}
.stories-section .donate-btn {
  border: none;
  padding: 0.95em 2.42em;
  background-color: var(--main-green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
}
.stories-section h2 {
  background-color: var(--main-black);
  color: var(--main-white);
  position: absolute;
  width: 9rem;
  font-size: 12px;
  font-weight: lighter;
  padding: 10px 20px;
  text-align: center;
  left: 5.2em;
  top: -1.5em;
}
/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .stories {
    height: 60em;
  }
  .stories-section {
    height: 82%;
  }
  .stories-img {
    width: 96.45%;
    height: 62.2%;
    position: relative;
  }
  .stories-content {
    width: 100%;
    height: 59%;
    top: 80%;
    left: 10%;
  }
  .stories-section a {
    margin-left: 5rem;
  }

  .stories-img {
    width: 40vmin;
    height: 40vmin;
  }
  .stories-section h2 {
    font-size: 1.4rem;
    width: 13rem;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .stories-section {
    width: 86%;
    height: 52em;
    left: 7%;
  }
  .stories-img {
    width: 100%;
    height: 40%;
  }
  .stories-content {
    height: 95%;
    left: 0;
    top: 110%;
  }
  .stories-content p {
    font-size: 22px;
    text-align: center;
  }
  .stories-content h6 {
    font-size: 11px;
    text-align: center;
  }
  .stories-section a {
    width: 12rem;
  }
  .stories-section h2 {
    font-size: 1.2rem;
    width: 13rem;
  }
}
/* ---End Stories Design--- */

/* -----lets-take-action design---- */
.lets-take-action {
  background-color: var(--main-black);
  display: flex;
  color: var(--main-green);
  flex-direction: column;
  padding: 8% 10% 5% 10%;
}

.headingText {
  color: var(--main-white);
  font-size: 6vw;
  font-family: "flood-std", sans-serif;
}

.action-events-earth {
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
}

.action-events-meeting {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img {
  width: 80%;
  background-size: cover;
  background-position: left;
}

.textSection {
  width: 45%;
}

.event-name {
  background-color: var(--main-white);
  padding: 2% 5%;
  display: inline-block;
  color: var(--main-black);
  font-size: 1vw;
  font-weight: 500;
}

.event-heading {
  padding: 3% 0;
}

.event-heading h3 {
  color: var(--main-white);
  font-size: 2.5em;
}

.event-heading p {
  color: var(--main-white);
  font-size: 1em;
  font-weight: lighter;
  padding: 1% 0;
  line-height: 1.6;
}

.read-more-button {
  font-size: 1.2vw;
  font-weight: 600;
  background-color: var(--main-green);
  padding: 3% 6%;
  color: var(--main-black);
  display: inline-block;
  border-radius: 1.75em;
}

/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .img {
    width: 90%;
    height: 40vw;
  }
  .event-heading h3 {
    font-size: 3vw;
  }
  .textSection {
    width: 65%;
  }

  .event-heading p {
    font-size: 2vw;
    font-weight: lighter;
  }

  .action-events-earth .textSection {
    margin-left: 5%;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .lets-take-action {
    flex-direction: column;
  }

  .action-events-earth,
  .action-events-meeting {
    flex-direction: column;
    position: relative;
    padding: 0;
    margin-top: 20%;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
  }

  .event-heading {
    width: 95%;
  }

  .img {
    width: 90%;
    height: 30%;
  }

  .event-name {
    position: absolute;
    top: -5%;
    padding: 5% 15%;
    font-size: 2vw;
    font-weight: bold;
  }
  .event-heading h3 {
    font-size: 5vw;
  }
  .event-heading p {
    font-size: 3vw;
  }
  .read-more-button {
    font-size: 3vw;
  }
}
/* -----End-take-action design---- */

/* ----subscribe desgin--- */
.subscribe {
  display: grid;
  height: 13em;
  grid-template-columns: 8.88% 37.78% 24.44% 11.11% 8.88%;
  background-color: var(--main-green);
  grid-column-gap: 2em;
  grid-template-areas: ". a b c .";
}
.subscribe-content {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--main-black);
  grid-area: a;
  margin: 12.8% 0;
}
.subscribe-email {
  font-size: 1.1em;
  font-weight: lighter;
  background-color: var(--main-white);
  width: 100%-1.2em;
  height: 2.4em;
  padding-left: 1.2em;
  border-radius: 6.25em;
  line-height: 2.5;
  grid-area: b;
  margin: 22.8% 0;
}
.subscribe-button {
  border: none;
  background-color: var(--main-black);
  height: 2.67em;
  text-align: center;
  border-radius: 100px;
  font-size: 1.125em;
  font-weight: bold;
  grid-area: c;
  margin: 50.05% 0;
  line-height: 2.5;
}
.subscribe-button span {
  color: var(--main-green);
}
/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  .subscribe {
    grid-column-gap: 0;
    grid-template-columns: 1fr 5fr 0.5fr 2fr 1fr;
    grid-template-areas: ". a . . ." ". b . c .";
  }

  .subscribe-content {
    font-size: 20px;
    margin: 13% 0 0 0;
  }
  .subscribe-email {
    margin: 0;
  }
  .subscribe-button {
    margin: 0;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  .subscribe {
    grid-column-gap: 0;
    grid-template-areas: ". a a a ." ". b c c .";
  }
  .subscribe-email {
    font-size: 14px;
    height: 2.8em;
    width: 50vw;
  }
  .subscribe-button {
    font-size: 16px;
    height: 2.5em;
    margin-left: 2vw;
  }
}
/* ----End subscribe desgin--- */

/* ----footer desgin--- */
footer {
  height: 18rem;
  display: grid;
  grid-template-rows: 15% 65% 20%;
  grid-template-columns: 0.5fr 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.3fr 1fr;
  grid-template-areas: ". . . . . . . ." ".a. b c d . e" ". . . . . . . .";
}
footer h2 {
  grid-area: a;
  width: 98%;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
}
footer p {
  font-size: 0.9rem;
}
footer div {
  width: 90%;
}
.contactus {
  grid-area: b;
}
.contactus p {
  width: 100%;
  font-weight: lighter;
}
.links {
  grid-area: c;
  margin-left: 2rem;
}
.links p {
  width: 60%;
}
.followus {
  grid-area: d;
  margin-left: 2rem;
}
.followus p {
  width: 50%;
}
.stop-climate {
  grid-area: e;
  width: 57%;
  font-family: "flood-std", sans-serif;
  font-size: 2.5em;
  text-align: right;
  font-weight: lighter;
  margin-top: 1rem;
}
/* ---tablet media queary---  */

@media screen and (max-width: 1020px) {
  footer {
    height: 424px;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: 1fr 2.5fr 1.2fr 2.2fr 1fr 3fr 1fr;
    grid-template-areas: ". . . . . . . " ". a . b . d . " ". . . c . e . " ". . . . . . . ";
  }
  footer h2 {
    width: 95%;
  }
  footer p {
    line-height: 1.5;
  }
  footer h4 {
    font-size: 11px;
  }
  footer div {
    margin-right: 0%;
  }
  .links p {
    width: 60%;
    text-decoration: underline;
  }
  .followus p {
    width: 50%;
    text-decoration: underline;
  }
  footer img {
    width: 93.5%;
  }
}

/* mobile mode  */

@media screen and (max-width: 600px) {
  footer {
    height: 600px;
    grid-template-rows: 5% 30% 30% 30% 5%;
    grid-template-columns: 1fr 3fr 0.75fr 0.5fr 3.5fr 1fr;
    grid-template-areas: ". . . . . . " ". a . . b . " ". d . . c . " ". . . e e . " ". . . . . . ";
  }
  footer h2 {
    font-size: 18px;
  }
  .links p {
    width: 70%;
  }
  footer img {
    width: 100%;
  }
  .stop-climate {
    font-size: 3rem;
  }
}
/* ----End subscribe desgin--- */
